#PEALKIRI {
	color: limegreen;

}

p {

     display: inline-block;
	 width: 416px;
	 padding: 10px;
	 background: limegreen;
	 
}




button {
	  display: block;
	  color: black;
	  background: mediumpurple;
}


#Mäng{

	color:skyblue;
}
#number2{
	color: blue;
	background: red;
}

#number{
	color: green;
	background: white;
}